/* * {
    border: 1px solid red;
} */


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 10px;
}

.communications {
    display: flex;
    gap: 12px;
}